<div itemprop='suggestedAnswer acceptedAnswer' itemscope itemtype='https://schema.org/Answer'>
  <div class='answer-item' [id]='"answer-" + answer.id'>
    <div class='answer-item-user'>

      <inek-img-shadow [src]='answer.user.picture' [width]='64' [height]='64' [alt]='answer.user.displayName'
                       class='answer-item-user-renderer'></inek-img-shadow>

      <div class='user-info'>
        <div itemprop='author' itemscope itemtype='https://schema.org/Person'>
          <a routerLink='/user/{{answer.user.id}}'>
            <div itemprop='name' class='title'>{{answer.user.displayName}}</div>
          </a>
        </div>
        <div class='subtitle'>
          <time itemprop='dateCreated'
                [dateTime]='answer.creationTime'>{{answer.creationTime | relativeTimeFormat}}</time>
        </div>
      </div>
    </div>
    <div itemprop='text' [qaHeroDelay]='answer.content' qaHighlightElement></div>
  </div>
</div>
<mat-divider></mat-divider>
