<form autocomplete='off' spellcheck='false' (submit)='formSubmit()'>
  <div class='buttons'>
    <button mat-icon-button matTooltip='Kalın yazı'>
      <mat-icon>format_bold</mat-icon>
    </button>
    <button mat-icon-button matTooltip='İtalik'>
      <mat-icon>format_italic</mat-icon>
    </button>
    <button mat-icon-button matTooltip='Alıntı'>
      <mat-icon>format_quote</mat-icon>
    </button>
  </div>
  <mat-form-field appearance='outline' floatLabel='never' hideRequiredMarker>
    <textarea aria-label='Answer text' matInput cdkTextareaAutosize cdkAutosizeMinRows='8'
              placeholder='Açıklayıcı bir şekilde cevap yazın'
              [formControl]='answerControl'></textarea>
    <mat-error *ngIf="answerControl.hasError('required')">Bir açıklama girin</mat-error>
    <mat-error *ngIf="answerControl.hasError('minlength')">Aciklama en az 24 karakter olmalidir; sen
      {{answerControl.value.length}} karakter girdin.
    </mat-error>
    <mat-hint>{{answerControl.value.length}} / 30.000</mat-hint>
  </mat-form-field>

  <!--<div class="preview-text" [innerHTML]="answerControl?.value | marked"></div>-->
  <div class='preview-text' [innerHTML]='answerControl?.value | marked'></div>

  <button mat-raised-button type='submit' color='primary' [disabled]='!answerControl.valid'>GÖNDER</button>
</form>
