<form id='search-form'>
  <div class='search-form' matAutocompleteOrigin #origin='matAutocompleteOrigin'>
    <button mat-icon-button aria-label='Ara' matTooltip='Ara'>
      <app-gf-icon name='search'></app-gf-icon>
    </button>
    <input aria-label='Ara' autocomplete='off' spellcheck='false' placeholder='Ara' [formControl]='myControl'
           #autoCompleteInput
           (keydown.enter)='onEnter($event)'
           (focusin)="origin.elementRef.nativeElement.style.width = '684px'"
           [matAutocomplete]='auto' [matAutocompleteConnectedTo]='origin'>
  </div>
</form>

<!--<button mat-icon-button aria-label='Sesle arama yapın' (click)='searchWithAudio()'>
  <svg viewBox='0 0 24 24'>
    <g>
      <rect fill='none' height='24' width='24' />
      <rect fill='none' height='24' width='24' />
      <rect fill='none' height='24' width='24' />
    </g>
    <g>
      <g />
      <g>
        <path d='M12,14c1.66,0,3-1.34,3-3V5c0-1.66-1.34-3-3-3S9,3.34,9,5v6C9,12.66,10.34,14,12,14z' />
        <path
          d='M17,11c0,2.76-2.24,5-5,5s-5-2.24-5-5H5c0,3.53,2.61,6.43,6,6.92V21h2v-3.08c3.39-0.49,6-3.39,6-6.92H17z' />
      </g>
    </g>
  </svg>
</button>-->

<mat-autocomplete #auto='matAutocomplete' class='my-autocomplete mat-elevation-z2' [displayWith]='displayFn'
                  (optionSelected)='selectedOption($event)'>

  <ng-container *ngFor='let option of filteredQuestions | async as list'>

    <mat-optgroup label='Sorular' *ngIf='option.questions'>
      <mat-option *ngFor='let q of option.questions' [value]='q'>
        <span [innerHTML]='q.title | highlightSearch: myControl.value'></span>
      </mat-option>
    </mat-optgroup>

    <mat-optgroup label='Etiketler' *ngIf='option.tags'>
      <mat-option *ngFor='let t of option.tags' [value]='t'>
        <span [innerHTML]='t.title | highlightSearch: myControl.value'></span>
      </mat-option>
    </mat-optgroup>

    <mat-optgroup label='Kullanıcılar' *ngIf='option.users'>
      <mat-option *ngFor='let user of option.users' [value]='user' class='user-option'>
        <img class='option-user-img' src='{{user.picture}}' alt=''>
        <span [innerHTML]='user.displayName | highlightSearch: myControl.value'></span>
      </mat-option>
    </mat-optgroup>

  </ng-container>

  <div class='autocomplete-action-row'>
    <a mat-button color='primary' routerLink='/search' [queryParams]='{q: myControl.value}'
       (click)='closeAutocomplete()'>
      "{{myControl.value}}" İÇİN TÜM SONUÇLARI GÖSTER
    </a>
  </div>
</mat-autocomplete>
