<ng-container *ngIf='comments$ | async as comments; else loading'>
  <mat-divider></mat-divider>
  <div class='comment-list'>
    <div class='item' *ngFor='let comment of comments'>

      <inek-img-shadow [src]='comment.user.picture' [width]='40' [height]='40' [alt]='comment.user.displayName'
                       class='comment-user-picture-renderer'></inek-img-shadow>

      <div>
        <div class='author-info'>
          <a routerLink='/user/{{comment.user.id}}' [class.comment-badge-renderer]='comment.user.id === 12'>
            <span>{{comment.user.displayName}}</span>
           <!-- <mat-icon *ngIf='comment.user.id === 12' fontSet='material-icons-outlined'>local_police</mat-icon>-->
          </a>
          —
          <time [attr.datetime]='comment.creationTime'>{{comment.creationTime | relativeTimeFormat}}</time>
        </div>
        <div class='comment'>{{comment.content}}</div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class='spinner-container'>
    <mat-spinner diameter='32' color='accent'></mat-spinner>
  </div>
</ng-template>

