<!--
<h1>All Questions</h1>-->

<!--<button mat-button>
  <mat-icon>tune</mat-icon>
  <span>FILTRELER</span>
</button>

<qa-sort-filter></qa-sort-filter>
<app-filter-by></app-filter-by>

<mat-chip-list>
  <mat-basic-chip>Unanswered</mat-basic-chip>
  <mat-basic-chip>No accepted answer</mat-basic-chip>
</mat-chip-list>

<mat-checkbox color='primary'>Yalnızca, cevaplanmamış soruları göster</mat-checkbox>-->

<!--<div class="container">-->
<!--  <span class="info-text">Tagged with: </span>-->
<!--  <mat-checkbox color="primary" [checked]="true">My watched tags</mat-checkbox>-->
<!--</div>-->

<!--<div class="big-filter">
  <div class="radio-box">
    <mat-checkbox>No answers</mat-checkbox>
    <mat-checkbox>No accepted answer</mat-checkbox>
    <mat-checkbox>Has bounty</mat-checkbox>
  </div>
</div>-->

<div class='host-container'>
  <div class='header'>
    <h6 class='headline-6'>Top Questions</h6>
    <div>
      <inek-sort-filter (openFilter)='filterOpened =! filterOpened'></inek-sort-filter>
      <app-filter-by></app-filter-by>
    </div>
  </div>
</div>


<ng-container *ngIf='filterOpened'>
  <div class='filter-container'>
    <p>Filtre acildi!</p>
  </div>
</ng-container>

