<ng-container *ngIf='question$ | async as question'>
  <div itemprop='mainEntity' itemscope itemtype='https://schema.org/Question'>
    <div class='layout-container'>
      <header>

        <!--        <div class='grid-left'>
                  <button mat-icon-button>
                    <mat-icon>arrow_drop_up</mat-icon>
                  </button>
                  <div class='score'>1</div>
                  <button mat-icon-button>
                    <mat-icon>arrow_drop_down</mat-icon>
                  </button>
                </div>-->


        <div class='header-one'>
          <h4 itemprop='name' class='headline-4'>{{question.title}}</h4>

          <div class='body-2 header-one-description'>
            <p>{{question.viewCount}} görüntüleme</p>
            <span class='bracket'>—</span>
            <time itemprop='dateCreated' [attr.datetime]='question.creationTime'>{{question.creationTime | relativeTimeFormat}}</time>
          </div>

      <!--    <div>
            <button mat-button color='primary' matTooltip='Bunu beğendim'>
              <app-gf-icon name='favorite'></app-gf-icon>
              <span>Beğen</span>
            </button>

            <button mat-button (click)='openShareDialog()' matTooltip='Paylaş'>
              <app-gf-icon name='share'></app-gf-icon>
              <span>Paylaş</span>
            </button>

            <button mat-button>
              <mat-icon fontSet='material-icons-outlined'>follow</mat-icon>
              <span>Takip et</span>
            </button>

            <button mat-button matTooltip='Favorilere ekle'>
              <app-gf-icon name='bookmark_add'></app-gf-icon>
              <span>Favorilere ekle</span>
            </button>

            &lt;!&ndash;<button mat-icon-button [matMenuTriggerFor]='flagMenu'>
              <mat-icon fontSet='material-icons-two-tone'>more_horiz</mat-icon>
            </button>&ndash;&gt;

            <mat-menu #flagMenu='matMenu'>
              <ng-template matMenuContent>
                <button mat-menu-item>
                  <app-gf-icon name='flag'></app-gf-icon>
                  <span>Bildir</span>
                </button>
              </ng-template>
            </mat-menu>
          </div>-->

        </div>

        <div itemprop='author' itemscope itemtype='https://schema.org/Person'>
          <div class='author'>
            <inek-img-shadow class='question-user-picture-render' [src]='question.user.picture' [width]='64'
                             [height]='64' [itemprop]='true'
                             [alt]='question.user.displayName'></inek-img-shadow>

            <div class='author-info'>
              <a routerLink='/user/{{question.user.id}}'>
                <div itemprop='name' id='author-name'>{{question.user.displayName}}</div>
              </a>
              <div class='author-badge'>Seviye 1</div>
            </div>
          </div>
        </div>

      </header>
    </div>

    <!-- Question Content -->
    <inek-question-text [content]='question.content'></inek-question-text>

    <!-- Comments -->
    <app-question-comment-list></app-question-comment-list>

    <!-- Answers -->
    <app-question-answers [acceptedAnswerId]='question?.acceptedAnswerId'></app-question-answers>

  </div>

  <!--
    Answer Form
  -->
  <app-answer-form></app-answer-form>
</ng-container>
