:host {
  display: block;
}

sup {
  color: var(--medium-emphasis-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  padding: 0 2px;
  font-family: Archivo, sans-serif;
}

a[mat-button] {
  font-family: Archivo, sans-serif !important;
  letter-spacing: 0 !important;
}

#left-content {
  display: flex;
  align-items: center;
}

#center-content {
}

#right-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#right-content button {
  margin-right: 8px;
}

.create-button {
  font-family: Archivo, sans-serif;
  letter-spacing: 0;

  app-gf-icon {
    display: inline-flex;
    margin-right: 8px;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

/*:host {
  position: sticky;
  top: 0;
  z-index: 999;
}*/

:host {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}

mat-toolbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: var(--topbar-background) !important;
  // width: calc(100vw - 17px);
  /* box-shadow: none !important;
   border-bottom: 2px solid rgba(0, 0, 0, .12);*/
  // box-shadow: none !important;
  // border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.search-icon {
  // display: none;
}

/*
  Sticky Bar TopBar
*/
[data-stuck] {
  position: fixed;
  top: 0;
  transition: transform 225ms cubic-bezier(0.0, 0.0, 0.2, 1);
}

[data-stuck='false'] {
  transform: translate3d(0, -64px, 0);
  transition: transform 195ms cubic-bezier(0.4, 0.0, 1, 1);
}

.mobile-show {
  display: none;
}

mat-progress-bar {
  position: absolute;
  bottom: 0;
}

mat-icon {
  color: var(--medium-emphasis-color);
}

@media (max-width: 599px) {
  .menu-button {
    // margin-left: -8px;
  }

  button[hidden] {
    display: none;
  }

  [hidden] {
    display: none;
  }

  .mobile-show {
    display: block;
  }

  .search-btn {
    margin-right: 12px;
  }

  app-search-form {
    display: none;
  }

  .logo-link {
    margin-left: 16px;
  }

  .search-icon {
    display: block;
  }

  .more-vert-icon {
    display: none;
  }
}

a[mat-stroked-button] {
  letter-spacing: 1.5px;
  padding: 0 8px;

  mat-icon {
    margin-right: 8px;
  }
}

.badge-icon ::ng-deep .mat-badge-content {
  width: 24px !important;
  top: -8px !important;
  right: -4px !important;
  height: 16px !important;
  border-radius: 12px !important;
  font-size: 11px !important;
  font-weight: 400;
  line-height: 16px !important;
}