:host {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  // background-color: #00000012;
  transition: opacity 0.2s;
  opacity: 0;
}

:host[loaded] {
  background-color: transparent;
  opacity: 1;
  // transition: none
}

img {
  border-radius: 50%;
  object-fit: cover;
}
