<mat-sidenav-container id='drawer-container'>
  <mat-sidenav #sidenav position='start' [autoFocus]='false' fixedInViewport (openedStart)='sidenavOpenedStart()'
               (closedStart)='sidenavClosedStart()'>
    <ng-container *ngComponentOutlet='navDrawerComponent'></ng-container>
    <!--<ng-container #navDrawerComponentRef></ng-container>-->
  </mat-sidenav>
  <mat-sidenav position='end' [mode]='mode' #sheet [autoFocus]='false' fixedInViewport
               (openedStart)='sheetOpened()' (closedStart)='sheetClosed()'
               [fixedTopGap]="mode == 'side' ? 64 : 0">

    <!--<app-side-sheet></app-side-sheet>-->
    <ng-container *ngComponentOutlet='sideSheetComponent'></ng-container>
  </mat-sidenav>

  <mat-sidenav-content id='drawer-content'>
    <div id='gf-full-page'>
      <inek-top-app-bar (openSheet)='loadSidenavSheetComponent(); sheet.toggle()' inekSticky></inek-top-app-bar>
      <main>
        <div id='content'>
          <div class='my-content'>
            <router-outlet></router-outlet>

          <!--  <div class='fixed-chip'>
              <mat-chip class='mat-elevation-z4'>New Releases</mat-chip>
            </div>-->

<!--            <div class='fixed-fab-btn with-icon'>
              <a mat-fab routerLink='/create' class='extended-fab' inekExtendedFab id='extended-fab'>
               &lt;!&ndash; <mat-icon>create</mat-icon>&ndash;&gt;
                <app-gf-icon name='add'></app-gf-icon>
                <span>Soru sor</span>
              </a>
            </div>-->

            <!--        <div class='fixed-fab-btn'>
                      <a mat-fab matTooltip='Oluştur'>
                        <mat-icon fontSet='material-icons-outlined'>create</mat-icon>
                      </a>
                    </div>-->

            <!--     <div class="content-update-chip">
                   <mat-chip>Yeni öneriler</mat-chip>
                 </div>-->
          </div>
        </div>
      </main>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
