<button id='avatar-btn' aria-haspopup='true'
        aria-label='Alternatif hesapların listesini açan hesap profil fotoğrafı'
        #trigger='cdkOverlayOrigin' cdkOverlayOrigin
        (click)='togglePopup()'>
  <inek-img-shadow [src]='user.picture' [width]='32' [height]='32' alt='Avatar resmi'
                   class='topbar-menu-button-renderer'></inek-img-shadow>
</button>

<ng-template
  cdkConnectedOverlay
  (overlayOutsideClick)='outsideClick($event)'
  [cdkConnectedOverlayScrollStrategy]='blockScrollStrategy'
  [cdkConnectedOverlayOpen]='popupOpened'
  [cdkConnectedOverlayOrigin]='trigger'>
  <!--  <qa-popup-container popupContainerTitle="avatar" [outlet]="ironDropdownOutlet"></qa-popup-container>-->
  <qa-popup-container (close)='popupOpened = false'>
    <ng-container [ngComponentOutlet]='componentOutlet!'></ng-container>
  </qa-popup-container>
</ng-template>
