:host {
  display: block;
}

header {
  display: flex;
  grid-gap: 16px;
  padding: 64px 0;
}

.header-user {
  display: flex;
  align-items: center;
  grid-gap: 24px;

  &__avatar {
    width: 160px;
    height: 160px;
  }
}

.meta-items {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  padding-top: 8px;
}

.meta-item {
  display: flex;
  align-items: center;
  grid-gap: 8px;
  color: var(--medium-emphasis-color);
  font-size: 14px;
  line-height: 20px;

  time {
    font-size: 14px;
    line-height: 20px;
  }
}

.social-auth {
  display: flex;
  align-items: center;
  grid-gap: 8px;
}

.social-auth img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

/* ==========================================================================
   Material Design Tabs
   ========================================================================== */
.mat-tab-link {
  min-width: 90px;
  opacity: 1 !important;
  color: var(--medium-emphasis-color);
}

.mat-tab-label-active {
  color: var(--mdc-theme-primary);
  // color: mat.get-color-from-palette(standardized.$deep-purple-color-palette,  500);
  // color: standardized.$mat-tab-label-active;
}
