<header class='header'>

  <div class='header-user'>
    <div class='user-avatar-placeholder'>
     <!-- <img class='user-avatar' src='{{user.picture}}' alt='{{user.displayName}}'>-->
      <inek-img-shadow [width]='160' [height]='160' [src]='user.picture' [alt]='user.displayName'></inek-img-shadow>
    </div>
    <div>
      <h4 class='headline-4'>{{user.displayName}}</h4>

      <div class='meta-items'>
        <div class='meta-item'>
          <mat-icon>cake</mat-icon>
          <time [attr.datetime]='user.signupDate'>{{user.signupDate | relativeTimeFormat}}</time>
        </div>
        <div class='meta-item'>
          <mat-icon>history</mat-icon>
          <time [attr.datetime]='user.signupDate'>{{user.lastSeenTime | myDate: 'tasty'}}</time>
        </div>
<!--        <div class='meta-item'>-->
<!--          <mat-icon>web</mat-icon>-->
<!--          <span>blog.patrickmcdonald.org</span>-->
<!--        </div>-->
        <div class='meta-item'>
          <mat-icon>map</mat-icon>
          <span>Dublin, Ireland</span>
        </div>

        <!--SOCIAL AUTH-->
        <div class='social-auth'>
          <a href='//github.com/{{user.githubUrl}}'>
            <img src='https://webdev.imgix.net/images/icons/github.svg' alt=''>
          </a>
          <a href='//github.com/{{user.twitterUrl}}'>
            <img src='https://webdev.imgix.net/images/icons/twitter.svg' alt=''>
          </a>
        </div>

      </div>

    </div>

  </div>
</header>

<nav mat-tab-nav-bar mat-align-tabs='center'>
  <a mat-tab-link *ngFor='let link of links'
     [routerLinkActiveOptions]='{exact: true}'
     routerLinkActive='mat-tab-label-active'
     #rla='routerLinkActive'
     routerLink='/user/{{user.id}}/{{link.path.toLocaleLowerCase()}}'
     [active]='rla.isActive'> {{link.label}} </a>
</nav>

<router-outlet></router-outlet>
