:host {
  display: block;
}

header {
  display: flex;
  grid-gap: 16px;
  padding: 64px 0;
}

.header-user {
  display: flex;
  align-items: center;
}

p {
  font-size: 14px;
  line-height: 20px;
  color: var(--icon-color);
  margin: 0;
}

.user-avatar-placeholder {
  width: 160px;
  height: 160px;
  margin-right: 24px;
}

.user-avatar {
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  object-fit: cover;
}

::ng-deep .mat-ink-bar {
  height: 3px !important;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.meta-item {
  display: flex;
  align-items: center;
  grid-gap: 8px;
  color: var(--medium-emphasis-color);

  time {
    font-size: 16px;
    line-height: 24px;
  }
}

.mat-tab-label-active {
  opacity: 1;
}
