:host {
  display: block;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  // transition: opacity 0.2s;
}

:host[loaded] {
  opacity: 1;
}

#img {
  display: flex;
  object-fit: cover;
}
